swagger: '2.0'
info:
  version: '1.0'
  title: PRERELEASE - DTS Connected Radio API
  description: >-
    This is the DTS Connected Radio API, designed to provide static and dynamic
    metadata for global analog and digital radio broadcasts, in addition to
    enhanced services supporting an advanced radio experience.

    This API is referred to as the CONRAD API throughout the documentation.

    API interaction is available via SSL/TLS encryption only, and the use of
    HTTP compression is highly encouraged to reduce data consumption.

    If a key specified in the API spec is missing from a response, the value
    should be assumed `null`. All booleans will have default values specified in
    the documentation if they are not present in a response.
  contact:
    name: DTS Connected Radio
    url: 'https://www.connectedrad.io'
  license:
    name: ''
host: api.sandbox.cnrd.io
securityDefinitions: {}
schemes:
  - https
paths: {}
definitions:
  DeviceResponse:
    title: Device GET Object
    type: object
    properties:
      deviceId:
        type: string
        example: aBc8deFG9
        description: >-
          This is the `deviceId` assigned to the device by the API. This ID is
          between 6 and 32 characters in length, and must be stored in
          non-volatile memory. It is used for authentication and identification
          for every subsequent API interaction after registration is requested.
      mfgId:
        type: string
        example: D0K101
        description: >-
          Manufacturer ID. This will normally be the same ID used to request the
          configuration and authenticate to the API, but if this ID is different
          in the `/config` response, the client should overwrite the stored
          `mfgId` in favor of the new ID and use it with the original
          `mfgSecret` for all subsequent API interaction.
      geoCode:
        type: string
        example: global
        description: >-
          Geocode for this device. This is used to inform the API about any
          geographical restrictions that may need to be placed on the device.
      config:
        $ref: '#/definitions/DeviceConfig'
  DevicesPost:
    title: Devices POST Object
    type: object
    required:
      - lat
      - lng
      - mfg
      - brand
      - device
      - model
      - serial
      - version
    properties:
      lat:
        type: number
        description: >-
          Latitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
          three decimal places (e.g. 43.094)
        example: -43.094
      lng:
        type: number
        description: >-
          Longitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
          three decimal places (e.g. 43.094)
        example: -71.73
      mfg:
        type: string
        description: Manufacturer name
        maxLength: 32
        example: Mfg Name
      brand:
        type: string
        description: Brand name of the device
        maxLength: 32
        example: Brand Name
      device:
        type: string
        description: Name of device or application
        maxLength: 32
        example: Device Name
      model:
        type: string
        description: Model name of the device
        maxLength: 32
        example: Model Name
      serial:
        type: string
        description: Unique serial number for the device
        maxLength: 32
        example: '12345'
      version:
        type: string
        description: Client version of the application
        maxLength: 32
        example: '1'
  DeviceConfig:
    title: Device config Data Object
    type: object
    properties:
      enableAPI:
        type: boolean
        default: true
        example: true
        description: Must be true to use further CONRAD API services
      enableLive:
        type: boolean
        default: true
        example: true
        description: 'Must be true to enable use of /broadcasts/{broadcastId}/live path'
      errorRetry:
        type: integer
        default: 60
        example: 60
        description: >-
          Time in seconds to wait before a retry API call if 5xx error
          encountered
      configRefresh:
        type: integer
        default: 3600
        example: 3600
        description: Time in seconds to wait before refreshing /config
      liveDataRetry:
        type: integer
        default: 5
        example: 5
        description: >-
          Time in seconds to wait before retrying a call to
          `/broadcasts/{broadcastId}/live` following the receipt of a `202
          Accepted` response. This call is only retried if a `202` is received.
      useMinQueries:
        type: boolean
        default: false
        example: false
        description: Force use of minimal data queries with only lat/lng query type
      defLogoURL:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg.png'
        description: Default Logo image URL
      defLogoURLHiRes:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg-hires.png'
        description: Default Logo image URL - High resolution
      defAlbumURL:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg.png'
        description: Default Album image URL
      defAlbumURLHiRes:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg-hires.png'
        description: Default Album image URL - High resolution
      expireBroadcastIds:
        type: array
        items:
          type: string
          example: '12345'
        description: Immediately expire cached broadcast data matching these IDs
      genreListCacheTTL:
        type: integer
        default: 86400
        example: 86400
        description: Time-to-live for the genre cache in seconds
      genreListCacheFlush:
        type: boolean
        default: false
        example: false
        description: Flush cache of all genre data and query for current genre data
      broadcastDataCacheTTL:
        type: integer
        default: 3600
        example: 3600
        description: Time-to-live for the broadcast data cache in seconds
      broadcastDataCacheFlush:
        type: boolean
        default: false
        example: false
        description: Flush cache of all broadcast data
      broadcastQueryRefreshRate:
        type: integer
        default: 600
        example: 600
        description: Delay in seconds between resending broadcast queries
      altAPIURL:
        type: string
        example: 'https://new.api.url.com'
        description: >-
          Alternate URL to access API. This will be a scheme and hostname, e.g.
          `https://new.api.url.com`

          All paths will remain the same, including the version
      altAPIURLEnabled:
        type: boolean
        default: false
        example: false
        description: >-
          If true, use alternate URL to access API for the duration of this
          operating session
      altAPIURLPermanent:
        type: boolean
        default: false
        example: false
        description: 'If true, make alternate API URL permanent'
      signalReportInterval:
        type: integer
        default: 600
        example: 600
        description: >-
          Reporting interval for `/reports/signal` signal strength POST, in
          seconds
      reportsMinInterval:
        type: integer
        default: 86400
        example: 86400
        description: 'Minimum reporting interval for `/reports` POST, in seconds'
      reportsMaxInterval:
        type: integer
        default: 2592000
        example: 2592000
        description: 'Maximum reporting interval for `/reports` POST, in seconds'
      reportsMaxSize:
        type: integer
        default: 1024
        example: 1024
        description: Maximum size of report for `/reports` POST in kilobytes
  Error:
    title: Error Data Object
    type: object
    properties:
      result:
        type: string
        example: error
      data:
        type: string
        description: Error description
  Broadcast:
    title: Broadcast Data Object
    type: object
    properties:
      analog:
        $ref: '#/definitions/AnalogBroadcast'
      hdradio:
        $ref: '#/definitions/HDRadioBroadcast'
      dab:
        $ref: '#/definitions/DABBroadcast'
  GenreListObject:
    title: Genre List Object
    type: object
    properties:
      id:
        type: integer
        description: Genre ID
      name:
        type: string
        description: Genre name
      subGenres:
        description: Genres below major genre
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: Subgenre ID
            name:
              type: string
              description: Subgenre name
  Live:
    title: Live Data Object
    type: object
    properties:
      id:
        type: string
        description: ID for this live data object
      type:
        type: string
        description: 'Type of live data: music, ad, talk, sports, live, emergency, other'
        enum:
          - music
          - ad
          - talk
          - sports
          - live
          - emergency
          - other
        example: music
      duration:
        type: integer
        description: Duration in seconds
        example: 305
      musicData:
        title: Music Data
        type: object
        properties:
          title:
            type: string
            description: Title of music/song programming
            example: All Blues
          album:
            type: string
            description: Music/song album
            example: Kind of Blue
          artist:
            type: string
            description: Music/song artist
            example: Miles Davis
          enableThumbs:
            type: boolean
            description: Enable display of thumbs up/down selections
            example: true
            default: true
          enableShare:
            type: boolean
            description: Enable display of option to share on social media
            example: true
            default: true
          images:
            type: array
            items:
              $ref: '#/definitions/ImagesObject'
          genreIds:
            type: array
            description: Array of genres and subgenres
            items:
              type: integer
      nmpData:
        title: Non-Music Program Data
        description: Non-Music Programming data
        type: object
        properties:
          title:
            type: string
            description: Title of non-music program
            example: 'Wait, Wait Don''t Tell Me'
          program:
            type: string
            description: Description of non-music program
            example: The NPR News Quiz
          subject:
            type: string
            description: Subject of non-music program
            example: 'Today''s guest: Tom Hanks'
          enableThumbs:
            type: boolean
            description: Enable display of feedback thumbs up/down
            example: true
            default: true
          enableShare:
            type: boolean
            description: Enable display of option to share on social media
            example: true
            default: true
          conradArtistId:
            $ref: '#/definitions/conradArtistId'
          conradTrackId:
            $ref: '#/definitions/conradTrackId'
          images:
            type: array
            items:
              $ref: '#/definitions/ImagesObject'
      adData:
        title: Ad Data
        type: array
        items:
          $ref: '#/definitions/AdData'
  AdData:
    type: object
    properties:
      type:
        type: string
        description: |
          Type of ad/supplemental data.
          web - Web page,
          phone - telephone voice,
          sms - SMS/text message,
          email - email address,
          locate - Location via coordinates or string
        enum:
          - web
          - phone
          - sms
          - email
          - locate
        example: web
      data:
        type: array
        items:
          type: object
          properties:
            type:
              type: string
              description: |
                Ad contact type.
                none - display only,
                url - URL to link,
                email - email address,
                phonenumber - phone number to call,
                sms - SMS number,
                coords - GPS coordinates to send to nav,
                string - text string to send to nav for search
              enum:
                - none
                - url
                - email
                - phonenumber
                - sms
                - coords
                - string
              example: url
            target:
              type: string
              description: >-
                Contact value for designated type, such as URL, phone number SMS
                shortcode, coordinates, etc
              example: 'http://example.url.com'
            content:
              type: string
              description: 'Content for SMS message or email, if any'
              example: 'YES'
            text:
              type: array
              description: Text accompaniment for button or link
              items:
                type: string
                example: Tap here for more information
  BroadcastList:
    title: Broadcasts Data Array
    type: object
    properties:
      analog:
        type: array
        items:
          $ref: '#/definitions/AnalogBroadcast'
      hdradio:
        type: array
        items:
          $ref: '#/definitions/HDRadioBroadcast'
      dab:
        type: array
        items:
          $ref: '#/definitions/DABBroadcast'
  AnalogBroadcast:
    type: object
    properties:
      broadcastId:
        type: string
        example: '12345'
        description: CONRAD API ID for this broadcast
      ecc:
        type: string
        example: E0
        description: ECC of this broadcast
      piCode:
        type: string
        example: D310
        description: PI code of this broadcast
      freq:
        type: integer
        example: 103700
        description: Frequency of this broadcast
      band:
        type: string
        description: Band of this broadcast
        enum:
          - AM
          - FM
        example: FM
      country:
        type: string
        example: US
        description: >-
          [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country
          code for this broadcast
      broadcastData:
        $ref: '#/definitions/BaselineBroadcastData'
  HDRadioBroadcast:
    type: object
    properties:
      broadcastId:
        type: string
        example: '12345'
        description: CONRAD API ID for this broadcast
      piCode:
        type: string
        example: A123
        description: PI Code for this broadcast
      stationId:
        type: string
        description: HD SIS station ID for this broadcast
      countryCode:
        type: string
        description: HD SIS Country Code for this broadcast
      location:
        type: string
        description: 'HD SIS location for this broadcast: Latitude, Longitude'
        example: '43.094, -71.730'
      channel:
        type: string
        example: '1'
        description: HD multicast channel
        enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
      freq:
        type: integer
        example: 103700
        description: Broadcast frequency
      band:
        type: string
        example: FM
        description: Broadcast band
        enum:
          - AM
          - FM
      country:
        type: string
        example: US
        description: >-
          [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country
          code for this broadcast
      broadcastData:
        $ref: '#/definitions/BaselineBroadcastData'
  DABBroadcast:
    type: object
    properties:
      broadcastId:
        type: string
        example: '12345'
        description: CONRAD API ID for this broadcast
      eid:
        type: string
        example: C186
        description: DAB ensemble ID for this broadcast
      freq:
        type: integer
        example: 223936
        description: Ensemble broadcast frequency for this broadcast
      sid:
        type: string
        example: C1C2
        description: Service ID for this broadcast
      scids:
        type: string
        description: Service Component Identifier within Service for this broadcast
        example: '0'
      channel:
        type: string
        example: 12A
        description: Service channel for this broadcast
      country:
        type: string
        example: US
        description: >-
          [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country
          code for this broadcast
      broadcastData:
        $ref: '#/definitions/BaselineBroadcastData'
  BaselineBroadcastData:
    type: object
    properties:
      name:
        type: string
        example: 103.7FM The Rock
        description: Name of broadcast
      slogan:
        type: string
        example: Yesterday and Today's Rock Hits!
        description: Slogan of broadcast
      sortKey:
        type: string
        example: abc
        description: >-
          Alphanumeric string to use instead of `name` when sorting station
          alphabetically. This is for special cases when alphanumeric sorting
          isn't suitable for the broadcast `name`.
      stationId:
        type: string
        example: '12345'
        description: >-
          An ID used to link different content from the same source. This is the
          parent of all contentIds
      contentId:
        type: string
        example: '12345'
        description: >-
          An ID used to link different broadcasts that contain the same content,
          such as translator stations, regional/national broadcasters
      languages:
        type: array
        description: Array of IETF language codes
        items:
          type: string
          example: en-US
      callSign:
        type: string
        example: WKRP
        description: 'Call sign of broadcast, if applicable'
      translator:
        type: string
        example: W212AB
        description: >-
          If present, this broadcast is a translator, and this string is the
          callsign of the translator itself, while `callSign` will contain the
          callsign of the source broadcast.
      enableThumbs:
        type: boolean
        example: true
        default: true
        description: >-
          Default value of `enableThumbs` in a `/broadcasts/{broadcastId}/live`
          response for this broadcast if not explicitly specified in that
          response. The default is true.
      enableShare:
        type: boolean
        example: true
        default: true
        description: >-
          Default value of `enableShare` in a `/broadcasts/{broadcastId}/live`
          response for this broadcast if not explicitly specified in that
          response. The default is true.
      format:
        type: string
        example: music
        description: 'Format of broadcast, if applicable'
      description:
        type: string
        example: Modern and classic rock music
        maxLength: 64
        description: Description of broadcast
      longDescription:
        type: string
        maxLength: 128
        example: 'Central Pennsylvania''s rock source, with Kim and Tom in the morning!'
        description: Long Description of broadcast
      logoURL:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg.png'
        description: Logo URL
      logoURLHiRes:
        type: string
        example: 'https://example.cnrd.io/img/abcdefg-hires.png'
        description: 'Logo URL, high resolution'
      sfOnIconURL:
        type: string
        example: 'https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png'
        description: >-
          URL for small service following active icon image for this broadcast,
          64x64
      sfOffIconURL:
        type: string
        example: 'https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png'
        description: >-
          URL for small service following inactive icon image for this
          broadcast, 64x64
      sfOnIconURLWide:
        type: string
        example: 'https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png'
        description: >-
          URL for wide service following active icon image for this broadcast,
          224x64
      sfOffIconURLWide:
        type: string
        example: 'https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png'
        description: >-
          URL for wide service following inactive icon image for this broadcast,
          224x64
      mqURI:
        type: string
        description: URI for message queue connection
        example: 'amqp://username:password@amqp.hostname.com/vhost'
      mqExchange:
        type: string
        description: Exchange to use for message queue connection
        example: live
      mqKey:
        type: string
        description: Routing key to use for message queue connection
        example: '#.broadcast.12345'
      genreIds:
        type: array
        description: Array of genre IDs for this broadcast
        items:
          type: integer
          example: 123
      hasLiveData:
        type: boolean
        default: true
        example: true
        description: >-
          This broadcast ID has live broadcast data obtainable via the
          `/broadcasts/{broadcastId}/live` call
      useLiveUnverified:
        type: boolean
        example: true
        default: true
        description: >-
          Use `/broadcasts/{broadcastId}/live` data if available even if the
          receiver station verification process fails.
      email:
        type: array
        description: Array of email addresses pertaining to this broadcast ID
        items:
          type: string
          example: user@example.cnrd.io
      urls:
        type: object
        description: Array of service URLs pertaining to this broadcast ID
        properties:
          website:
            type: array
            description: Array of Web URLs pertaining to this broadcast ID
            items:
              type: string
              example: 'http://www.example.cnrd.io'
          facebook:
            type: array
            description: Array of Facebook URLs pertaining to this broadcast ID
            items:
              type: string
              example: 'https://www.facebook.com/wkrprock'
          twitter:
            type: array
            description: Array of Twitter URLs pertaining to this broadcast ID
            items:
              type: string
              example: 'https://twitter.com/wkrprock'
      phone:
        type: array
        description: Array of phone numbers pertaining to this broadcast ID
        items:
          type: string
          example: '12345678901'
      sms:
        type: array
        description: Array of SMS numbers pertaining to this broadcast ID
        items:
          type: string
          example: '123456'
      streams:
        type: array
        description: Array of streaming data objects pertaining to this broadcast ID
        items:
          $ref: '#/definitions/StreamsData'
      ipcPublisherId:
        type: string
        description: >-
          Publisher ID for IPC (IP Content) queries. Used to link broadcasts
          with IP content produced by the same station or entity. May not exist
          in the result.
  StreamsData:
    type: object
    properties:
      url:
        type: string
        example: 'http://radiostream.url.com/stream'
        description: >-
          URL of stream. Note that some SHOUTCast streams may require the
          addition of `/;` at the end of the URL for certain client types and
          user agents. E.g. `http://radiostream.url.com/stream/;'`
      format:
        type: string
        example: mp3
        description: Format of stream
        enum:
          - mp3
          - hls
          - aac
      sampleRate:
        type: integer
        description: Sample rate of stream
        example: 44100
      bitrate:
        type: integer
        description: Stream bitrate in bits
        example: 64000
      preroll:
        type: integer
        description: Seconds of preroll. 0 indicates no known preroll
  Report:
    title: Report
    type: object
    required:
      - type
      - mfgId
      - deviceId
      - duration
      - data
    properties:
      type:
        type: string
        enum:
          - log
        example: log
      mfgId:
        type: string
        minLength: 6
        maxLength: 32
        example: DEV-0001
      deviceId:
        type: string
        minLength: 6
        maxLength: 32
        example: aBc8deFG9
      duration:
        type: integer
        minimum: 86400
        example: 86400
      data:
        $ref: '#/definitions/ReportData'
  ReportAction:
    title: ReportAction
    type: object
    required:
      - type
      - mfgId
      - deviceId
      - data
    properties:
      type:
        type: string
        enum:
          - exit
          - sms
          - phone
          - share
          - nav
          - thumbs
        example: exit
        description: 'Type of action: exit, sms, phone, share, nav, thumbs'
      mfgId:
        type: string
        minLength: 6
        maxLength: 32
        example: DEV-0001
      deviceId:
        type: string
        minLength: 6
        maxLength: 32
        example: aBc8deFG9
      data:
        $ref: '#/definitions/ReportActionData'
  ReportActionData:
    title: Report actions for live data
    type: object
    allOf:
      - $ref: '#/definitions/HiResCoordinate'
      - type: object
        properties:
          broadcastId:
            type: string
            example: '12345'
            description: CONRAD API ID for this broadcast
          liveId:
            type: string
            description: The `liveId` of the object displayed during user action
            example: abcdef12345
          timestamp:
            type: string
            maxLength: 64
            format: date-time
            description: Time the action took place
            example: '2017-01-24T13:35:57.904Z'
          target:
            type: string
            description: >-
              The target value of the action, if it exists. This would be the
              SMS number contacted, phone number dialed, the social media app
              name.
            example: '123456'
          content:
            type: string
            description: >-
              The content of the selection the user made, such as the SMS
              message sent, the nav string searched, nav coordinates selected,
              the message posted to social media. In the case of `thumbs`, the
              value is 1 for positive sentiment, -1 for negative sentiment, or 0
              to unset previously provided feedback for the same object.
            example: '1'
  ReportData:
    title: Report data
    type: object
    properties:
      device:
        $ref: '#/definitions/Device'
      broadcasts:
        type: array
        items:
          $ref: '#/definitions/RadioBroadcast'
      streams:
        type: array
        items:
          $ref: '#/definitions/InternetBroadcast'
      satellite:
        type: array
        items:
          $ref: '#/definitions/SatelliteBroadcast'
      local:
        type: array
        items:
          $ref: '#/definitions/LocalSource'
      devices:
        type: array
        items:
          $ref: '#/definitions/DeviceEvent'
  Device:
    title: Device data
    type: object
    properties:
      make:
        type: string
        example: MyMake
        maxLength: 64
      model:
        type: string
        example: MyModel
        maxLength: 64
      year:
        type: integer
        example: 2017
  SignalReport:
    title: Signal strength data
    required:
      - mfgId
      - deviceId
      - timestamp
      - data
    properties:
      mfgId:
        type: string
        minLength: 6
        maxLength: 32
        example: DEV-0001
      deviceId:
        type: string
        minLength: 6
        maxLength: 32
        example: abcdef123456
      timestamp:
        type: string
        maxLength: 64
        format: date-time
        example: '2017-01-24T13:35:57.904Z'
      broadcastId:
        type: string
        example: '12345'
        description: CONRAD API ID for this broadcast
      data:
        $ref: '#/definitions/RadioBroadcastLocation'
  RadioBroadcast:
    allOf:
      - $ref: '#/definitions/TimedEvent'
      - title: Broadcast station data
        type: object
        properties:
          analogHd:
            type: object
            description: '''Analog AM/FM, or HD Radio broadcast types'''
            properties:
              freq:
                type: integer
                example: 103700
              ecc:
                type: string
                example: E0
              piCode:
                type: string
                example: D110
              calls:
                type: string
                maxLength: 24
                example: WKRP
              band:
                type: string
                example: FM
                enum:
                  - AM
                  - FM
              channel:
                type: string
                example: '1'
                enum:
                  - '1'
                  - '2'
                  - '3'
                  - '4'
                  - '5'
                  - '6'
                  - '7'
                  - '8'
          dab:
            type: object
            description: '''DAB broadcast type'''
            properties:
              freq:
                type: integer
                example: 227360
              ecc:
                type: string
                example: D0
              eid:
                type: string
                example: C185
              sid:
                type: string
                example: C4B4
              scids:
                type: string
                example: 0
          broadcastId:
            type: string
            example: '12345'
            description: CONRAD API ID for this broadcast
          isPreset:
            type: boolean
            description: True if this station exists in user presets
            example: true
          verifyFailed:
            type: boolean
            description: >-
              True if verification of this station with over-the-air broadcast
              data (such as RDS) failed.
            example: false
          volEvents:
            type: array
            description: >-
              Array of volume change events during this listening session. First
              object must be initial volume when listening session began.
            items:
              type: object
              required:
                - timestamp
                - level
              properties:
                timestamp:
                  type: string
                  maxLength: 64
                  format: date-time
                  example: '2017-01-24T13:35:57.904Z'
                level:
                  type: integer
                  example: 10
                  description: >-
                    Volume level measured in percent of total volume, 0-100.
                    Volume level must remain stable for five seconds to apply. 0
                    represents off or mute. Required for broadcast and satellite
                    events.
          liveIdsDisplayed:
            type: array
            description: >-
              Array of `liveIds` that were retrieved and displayed during this
              listening session.
            items:
              type: string
              example: abcdef12345
          startLoc:
            $ref: '#/definitions/RadioBroadcastLocation'
          stopLoc:
            $ref: '#/definitions/RadioBroadcastLocation'
  RadioBroadcastLocation:
    type: object
    allOf:
      - $ref: '#/definitions/HiResCoordinate'
      - title: Location
        type: object
        properties:
          cdno:
            type: integer
            example: 70
            description: >-
              If this is an HD Radio broadcast, provide the digital signal
              strength value.
          rssi:
            type: integer
            example: -72
            description: 'For any broadcast type, provide the signal strength in dBm.'
  InternetBroadcast:
    allOf:
      - $ref: '#/definitions/NonRadioBroadcast'
      - $ref: '#/definitions/TimedEvent'
      - type: object
        properties:
          startLoc:
            $ref: '#/definitions/HiResCoordinate'
          stopLoc:
            $ref: '#/definitions/HiResCoordinate'
  SatelliteBroadcast:
    allOf:
      - $ref: '#/definitions/TimedEvent'
      - type: object
        properties:
          volEvents:
            type: array
            description: >-
              Array of volume change events during this listening session. First
              object must be initial volume when listening session began.
            items:
              type: object
              required:
                - timestamp
                - level
              properties:
                timestamp:
                  type: string
                  maxLength: 64
                  format: date-time
                  example: '2017-01-24T13:35:57.904Z'
                level:
                  type: integer
                  example: 10
                  description: >-
                    Volume level measured in percent of total volume, 0-100.
                    Volume level must remain stable for five seconds to apply. 0
                    represents off or mute. Required for broadcast and satellite
                    events.
          serviceName:
            type: string
            maxLength: 64
            description: 'Name of the stream or service, if applicable.'
            example: SiriusXM
          station:
            type: string
            maxLength: 64
            description: 'Name of the station, if applicable'
            example: Miles Davis Radio
          startLoc:
            $ref: '#/definitions/SatelliteLocation'
          stopLoc:
            $ref: '#/definitions/SatelliteLocation'
  SatelliteLocation:
    allOf:
      - $ref: '#/definitions/HiResCoordinate'
  NonRadioBroadcast:
    type: object
    properties:
      serviceName:
        type: string
        maxLength: 64
        description: 'Name of the stream or service, if applicable.'
        example: Pandora
      station:
        type: string
        maxLength: 64
        description: 'Name of the station, if applicable'
        example: Miles Davis Radio
      url:
        type: string
        description: >-
          If this is an independent stream or stream provided by a broadcast
          record, provide the URL accessed.
        example: 'http://streamurl.example.com'
      broadcastId:
        type: string
        description: >-
          If this is a stream accessed from a broadcast record, provide the
          `broadcastId` of that record.
        example: '12345'
      servFollow:
        type: boolean
        description: >-
          If this content was accessed through service following, indicate that
          here.
        example: true
      errorStatusCode:
        type: string
        description: >-
          If the playback of this stream encountered HTTP errors that prevented
          playback, that error code is captured in this string. 0 represents an
          unreachable service. Other codes are standard HTTP status codes such
          as 401, 403, 404, 500, 502, 503, etc
      format:
        type: string
        maxLength: 12
        description: 'Format of stream, such as mp3, aac, hls'
        example: mp3
      bitrate:
        type: integer
        description: Bitrate in bits
        example: 64000
  Coordinate:
    type: object
    properties:
      lat:
        type: number
        format: double
        description: >-
          Latitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
          three decimal places (e.g. 43.094)
        example: 43.094
      lng:
        type: number
        format: double
        description: >-
          Longitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
          three decimal places (e.g. -71.730)
        example: -71.73
  HiResCoordinate:
    type: object
    properties:
      lat:
        type: number
        format: double
        description: >-
          Latitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to six
          decimal places (e.g. 43.094123)
        example: 43.094123
      lng:
        type: number
        format: double
        description: >-
          Longitude in [decimal
          degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to six
          decimal places (e.g. -71.730123)
        example: -71.730123
  ImagesObject:
    type: object
    description: >-
      Array of image URLs with specific type definitions for enhanced display
      options. This replaces the deprecated `imageURL` and `imageURLHiRes`
      attributes. This array can contain standard and HiRes image URLS that have
      specific types, currently defined as `album`, `artist`, `logo`, and
      `other`. If `default` is present and true, then that object is to be
      displayed in the absence of other preferences, or as a default image for
      data display.
    properties:
      type:
        type: string
        enum:
          - album
          - artist
          - logo
          - other
        description: 'Specific image type, if known.'
        example: artist
      default:
        type: boolean
        description: >-
          If present, denotes this image is the default to be used if no user
          preference has been made.
        example: true
      url:
        type: string
        description: URL to retrieve the image
        example: 'https://s.cnrd.io/img/c/2/c2b12ed7860b3a1a123483dec90abf1ea3.jpg'
      urlHiRes:
        type: string
        description: 'URL to retrieve the high-resolution image, if available'
        example: 'https://s.cnrd.io/img/f/2/f2b12ed1234b3a1a123483dec90abf1ea6.jpg'
  LocalSource:
    allOf:
      - $ref: '#/definitions/TimedEvent'
      - type: object
        properties:
          sourceName:
            type: string
            example: aux
            enum:
              - cd
              - bt audio
              - harddrive
              - media
              - aux
  TimedEvent:
    type: object
    properties:
      duration:
        type: integer
        example: 600
        description: Duration of event in seconds
      startTime:
        type: string
        maxLength: 64
        format: date-time
        example: '2017-01-24T13:35:57.904Z'
      stopTime:
        type: string
        maxLength: 64
        format: date-time
        example: '2017-01-24T13:35:57.904Z'
  DeviceEvent:
    type: object
    properties:
      event:
        type: string
        example: insert
        enum:
          - insert
          - remove
      type:
        type: string
        maxLength: 64
      subtype:
        type: string
        maxLength: 64
      mobileId:
        type: string
        maxLength: 64
      count:
        type: integer
  ReportError:
    title: Error
    type: object
    properties:
      result:
        type: string
        enum:
          - error
      data:
        type: string
      action:
        type: string
        example: discard
        enum:
          - discard
parameters:
  album:
    name: album
    in: query
    type: string
    description: 'Album name. Not required, but helps with era alignment.'
  artist:
    name: artist
    in: query
    type: string
    required: true
    description: Name of the artist. Always required.
  Authorization:
    name: Authorization
    in: header
    description: >-
      Authorization header The format is `{deviceId},{hash}`, where the `hash`
      is `HMAC_SHA256(mfgSecret, deviceId)`. The `hash` is hex digest, truncated
      to 24 characters. Example: `Authorization:
      asdbh23456sdf,fd9f655862c9bd4da0edb845`
    required: true
    type: string
  broadcastId:
    name: broadcastId
    in: path
    description: Requested broadcast ID
    type: string
    required: true
  conradTrackId:
    name: conradTrackId
    in: path
    type: string
    description: 'A unique ID that refers to a single audio track or recording. '
    required: true
  conradTransform:
    name: transform
    in: query
    type: string
    description: >-
      Comma-separated list of transformations to apply. Currently only supports
      `clean`, which replaces expletives with asterisks.
  conradAlbumId:
    name: conradAlbumId
    in: path
    type: string
    required: true
    description: A unique ID that refers to a specific released album
  conradArtistId:
    name: conradArtistId
    in: path
    type: string
    required: true
    description: 'A unique ID that refers to a specfic artist. '
  country:
    name: country
    in: query
    type: string
    description: >-
      A comma-separated list of upper case ISO alpha-2 countries. Filters the
      results. Multiple parameters allowed.
  cursor:
    name: cursor
    in: query
    type: string
    description: Cursor position at which to start response
  dab:
    name: dab
    in: query
    description: Array of strings in the format `gcc.eid` (e.g. `de0.d285`)
    type: array
    items:
      type: string
    required: false
  deviceType:
    name: deviceType
    in: query
    description: >-
      Supported receiver technologies bitmask.


      Default value is `0`, which causes results for all supported receivers to
      be returned.  Other accepted values are `1` for analog, `2` for hdradio,
      `4` for dab.  The values may be OR-ed together (e.g., `3` for analog and
      hdradio).
    type: integer
    default: 0
    required: false
  disp:
    name: disp
    in: query
    type: string
    enum:
      - tuned
      - guide
      - preset
    description: >-
      The display purpose of the live data request. This includes `tuned` for
      requests pertaining to the broadcast currently tuned in on the primary
      tuner and playing, `guide` for requests to be used to populate a live
      station guide, and `preset` for requests intended to be used for live
      presets in the display.
    required: true
  embed:
    name: embed
    in: query
    type: string
    description: >-
      A comma-separated list of additional data to embed in the response.
      Currently only accepts `image`, to include an artist or album image in the
      response, if possible
  freq:
    name: freq
    in: query
    description: 'Array of analog/HD frequencies in kHz (e.g. `1040,89900,101100`)'
    type: array
    items:
      type: integer
    required: false
  geoCode:
    name: geoCode
    in: query
    description: Geocode ID delivered initially by /devices and subsequently by /config
    type: string
    required: true
    maxLength: 32
  lang:
    name: lang
    in: query
    description: >-
      [RFC 5646](https://tools.ietf.org/html/rfc5646) compliant tag specifying
      the language and region to use when returning the results (default:
      `en-US`).

      The results will be in `en-US` if the requested language is not available.
    required: false
    type: string
    default: en-US
  language:
    name: language
    in: query
    type: string
    default: en-us
    description: 'Language, using IETF Language code'
  lat:
    name: lat
    in: query
    type: number
    description: >-
      Latitude in [decimal
      degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to three
      decimal places (e.g. 43.094)
    required: true
  lat-nr:
    name: lat
    in: query
    type: number
    description: >-
      Latitude in [decimal
      degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to three
      decimal places (e.g. 43.094)
    required: false
  lng:
    name: lng
    in: query
    type: number
    description: >-
      Longitude in [decimal
      degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to three
      decimal places (e.g. -71.730)
    required: true
  lng-nr:
    name: lng
    in: query
    type: number
    description: >-
      Longitude in [decimal
      degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to three
      decimal places (e.g. -71.730)
    required: false
  location:
    name: location
    in: query
    type: string
    description: >-
      An upper case ISO alpha-2 country. Gives priority to the products from the
      given country. Compatible with "priority".
  mfgId:
    name: mfgId
    in: header
    description: Manufacturer-specific ID supplied by DTS
    required: true
    type: string
    minLength: 2
    maxLength: 32
  priority:
    name: priority
    in: query
    type: string
    default: pop
    description: >-
      Gives the priority to the given criteria. `none` or `pop`, defaults to
      `pop` for "popularity". Compatible with "location". 
    enum:
      - none
      - pop
  rds:
    name: rds
    in: query
    description: >-
      Array of strings in the format `gcc.picode.frequency` (e.g.
      `de0.de37.89900`)
    type: array
    items:
      type: string
    required: false
  search:
    name: search
    in: query
    type: string
    maxLength: 64
    description: String to search for
    required: true
  sort:
    name: sort
    in: query
    type: string
    enum:
      - name
      - date
      - pop
    description: 'Desired sorting, `name`, `date`, or `pop` for popularity. '
    default: name
  stripHTML:
    name: stripHTML
    in: query
    type: boolean
    default: 'False'
    description: Strip all HTML tags in response
  title:
    name: title
    in: query
    type: string
    required: true
    description: Title of the track or recording. Required for era-aligned image response.
  year:
    name: year
    in: query
    type: number
    description: >-
      If `embed` is `images`, optionally use this year to attempt to prioritize
      the results with the artist image closest to the requested year as the
      first entry in the array.
responses:
  '200':
    description: Successful response
  '400':
    description: 'No results found, or missing parameter'
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: error
        data: missing query parameter
        action: discard
  '401':
    description: Authorization/authentication error
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: error
        data: authentication error
        action: discard
  '404':
    description: Requested path or object not found
    schema:
      type: object
      properties: {}
  '500':
    description: ''
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: error
        data: internal error
        action: discard
  Reports-400:
    description: 'No results found, or missing parameter'
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: foo
        data: foo
        action: discard
  Reports-401:
    description: Authorization/authentication error
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: foo
        data: foo
        action: discard
  Reports-500:
    description: Internal error
    schema:
      $ref: '#/definitions/ReportError'
    examples:
      application/json:
        result: foo
        data: foo
        action: discard
  Broadcasts-301:
    description: >-
      If a `301` response is returned, then the requested `broadcastId` has been
      moved/combined with another `broadcastId`, and the client should update
      any presets, favorites, or bookmarks that reference this `broadcastId`
      with the target of the redirection specified as `newBroadcastId` in the
      200 reponse.

      Note that no redirection will be performed. The client must make another
      query using the new `broadcastId`.
    schema:
      type: object
      properties:
        newBroadcastId:
          type: string
          example: '23456'
          description: >-
            The new `broadcastId` to replace the `broadcastId` that was moved or
            merged.
    examples:
      application/json:
        newBroadcastId: '23456'
  Broadcasts-410:
    description: >-
      If a `410 Gone` response is received, then the `broadcastId` requested is
      no longer present or no longer exists, and all references to it in
      presets, bookmarks, or favorites should be removed.
    schema:
      type: object
      properties: {}
