swagger: '2.0'
info:
  version: 1.2.0
  title: DTS Connected Radio API
  description: >-
    This is the DTS Connected Radio API, designed to provide static and dynamic
    metadata for global analog and digital radio broadcasts, in addition to
    enhanced services supporting an advanced radio experience.


    This API is referred to as the CONRAD API throughout the documentation.


    API interaction is available via SSL/TLS encryption only, and the use of
    HTTP compression is highly encouraged to reduce data consumption.


    If a key specified in the API spec is missing from a response, the value
    should be assumed `null`. All booleans will have default values specified in
    the documentation if they are not present in a response.
  contact:
    name: DTS Connected Radio
    url: 'https://www.connectedrad.io'
    email: connected.radio@dts.com
host: api.sandbox.cnrd.io
basePath: /v1
security:
  - Authorization: []
    mfgId: []
securityDefinitions:
  Authorization:
    type: apiKey
    name: Authorization
    in: header
    description: >-
      The format is `{deviceId},{hash}`, where the `hash` is
      `HMAC_SHA256(mfgSecret, deviceId)`.

      The `hash` is hex digest, truncated to 24 characters.

      Example: `Authorization: asdbh23456sdf,fd9f655862c9bd4da0edb845`


      `mfgId` is also required, and is assigned by DTS during production rollout
      planning.


      Example: `mfgId: ABCDEF123456`
  mfgId:
    type: apiKey
    name: mfgId
    in: header
    description: >-
      The `mfgId` is assigned by DTS. It is required to be present as a header
      in every request made to the API. The format is the `mfgId` as a string.
      Example: `DEV-0001`. The IDs used in sandbox will not work in production.
tags:
  - name: Devices
    description: 'Device interaction, id assignments, configuration retrieval'
  - name: Genres
    description: Genre names and ids
  - name: Broadcasts
    description: Static broadcast data retrieval
  - name: Live
    description: Currently playing program data
  - name: Reports
    description: Service utilization reporting
  - name: IP Content
    description: IP content such as streams and podcasts
  - name: Local Events
    description: Information on local events related to broadcast content
schemes:
  - https
paths:
  /devices:
    post:
      tags:
        - Devices
      summary: Request device ID
      produces:
        - application/json
      description: >-
        Register a device and receive a unique device ID assigned by the API.
        This ID is assigned to each device once, during the first contact with
        the API. This device ID is retained by the client and used in all
        subsequent API interactions. The device ID is also used in the
        authentication process.


        If a client does not have a valid API-assigned device ID present in
        non-volatile storage, the first API interaction shall be to register and
        receive this ID.


        This request should only be made when the client is first initialized or
        if the client is reset to factory defaults.
      parameters:
        - name: mfgId
          in: header
          description: Manufacturer-specific ID supplied by DTS
          required: true
          type: string
          minLength: 2
          maxLength: 32
        - name: Authorization
          in: header
          description: >-
            Authorization header. Please note that this authentication signature
            is different from all other Authorization headers in the API in that
            it uses `mfgId` not `deviceId` as the `deviceId` has not yet been
            acquired.

            The format is `{mfgId},{hash}`, where the `hash` is
            `HMAC_SHA256(mfgSecret, mfgId)`.

            The `hash` is hex digest, truncated to 24 characters.

            Example: `Authorization: DEV-0001,548bde0ad4db9c268556f9df`
          required: true
          type: string
        - name: body
          in: body
          required: true
          description: Device registration data
          schema:
            title: Devices POST object
            type: object
            required:
              - lat
              - lng
              - mfg
              - brand
              - device
              - model
              - serial
              - version
            properties:
              lat:
                type: number
                description: >-
                  Latitude in [decimal
                  degrees](https://en.wikipedia.org/wiki/Decimal_degrees)
                  rounded to three decimal places (e.g. 43.094)
                example: -43.094
              lng:
                type: number
                description: >-
                  Longitude in [decimal
                  degrees](https://en.wikipedia.org/wiki/Decimal_degrees)
                  rounded to three decimal places (e.g. 43.094)
                example: -71.73
              mfg:
                type: string
                description: Manufacturer name
                maxLength: 32
                example: Mfg Name
              brand:
                type: string
                description: Brand name of the device
                maxLength: 32
                example: Brand Name
              device:
                type: string
                description: Name of device or application
                maxLength: 32
                example: Device Name
              model:
                type: string
                description: Model name of the device
                maxLength: 32
                example: Model Name
              serial:
                type: string
                description: Unique serial number for the device
                maxLength: 32
                example: '12345'
              version:
                type: string
                description: Client version of the application
                maxLength: 32
                example: '1'
      responses:
        '200':
          description: Successful response
          schema:
            title: Device config Data Object
            type: object
            properties:
              deviceId:
                type: string
                example: aBc8deFG9
                description: >-
                  This is the `deviceId` assigned to the device by the API. This
                  ID is between 6 and 32 characters in length, and must be
                  stored in non-volatile memory. It is used for authentication
                  and identification for every subsequent API interaction after
                  registration is requested.
              mfgId:
                type: string
                example: D0K101
                description: >-
                  Manufacturer ID. This will normally be the same ID used to
                  request the configuration and authenticate to the API, but if
                  this ID is different in the `/config` response, the client
                  should overwrite the stored `mfgId` in favor of the new ID and
                  use it with the original `mfgSecret` for all subsequent API
                  interaction.
              geoCode:
                type: string
                example: global
                description: >-
                  Geocode for this device. This is used to inform the API about
                  any geographical restrictions that may need to be placed on
                  the device.
              config:
                title: Device config Data Object
                type: object
                properties:
                  enableAPI:
                    type: boolean
                    default: true
                    example: true
                    description: Must be true to use further CONRAD API services
                  enableLive:
                    type: boolean
                    default: true
                    example: true
                    description: >-
                      Must be true to enable use of
                      /broadcasts/{broadcastId}/live path
                  errorRetry:
                    type: integer
                    default: 60
                    example: 60
                    description: >-
                      Time in seconds to wait before a retry API call if 5xx
                      error encountered
                  configRefresh:
                    type: integer
                    default: 3600
                    example: 3600
                    description: Time in seconds to wait before refreshing /config
                  liveDataRetry:
                    type: integer
                    default: 5
                    example: 5
                    description: >-
                      Time in seconds to wait before retrying a call to
                      `/broadcasts/{broadcastId}/live` following the receipt of
                      a `202 Accepted` response. This call is only retried if a
                      `202` is received.
                  useMinQueries:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      Force use of minimal data queries with only lat/lng query
                      type
                  defLogoURL:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg.png'
                    description: Default Logo image URL
                  defLogoURLHiRes:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                    description: Default Logo image URL - High resolution
                  defAlbumURL:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg.png'
                    description: Default Album image URL
                  defAlbumURLHiRes:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                    description: Default Album image URL - High resolution
                  expireBroadcastIds:
                    type: array
                    items:
                      type: string
                      example: '12345'
                    description: >-
                      Immediately expire cached broadcast data matching these
                      IDs
                  genreListCacheTTL:
                    type: integer
                    default: 86400
                    example: 86400
                    description: Time-to-live for the genre cache in seconds
                  genreListCacheFlush:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      Flush cache of all genre data and query for current genre
                      data
                  broadcastDataCacheTTL:
                    type: integer
                    default: 3600
                    example: 3600
                    description: Time-to-live for the broadcast data cache in seconds
                  broadcastDataCacheFlush:
                    type: boolean
                    default: false
                    example: false
                    description: Flush cache of all broadcast data
                  broadcastQueryRefreshRate:
                    type: integer
                    default: 600
                    example: 600
                    description: Delay in seconds between resending broadcast queries
                  altAPIURL:
                    type: string
                    example: 'https://new.api.url.com'
                    description: >-
                      Alternate URL to access API. This will be a scheme and
                      hostname, e.g. `https://new.api.url.com`

                      All paths will remain the same, including the version
                  altAPIURLEnabled:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      If true, use alternate URL to access API for the duration
                      of this operating session
                  altAPIURLPermanent:
                    type: boolean
                    default: false
                    example: false
                    description: 'If true, make alternate API URL permanent'
                  signalReportInterval:
                    type: integer
                    default: 600
                    example: 600
                    description: >-
                      Reporting interval for `/reports/signal` signal strength
                      POST, in seconds
                  reportsMinInterval:
                    type: integer
                    default: 86400
                    example: 86400
                    description: 'Minimum reporting interval for `/reports` POST, in seconds'
                  reportsMaxInterval:
                    type: integer
                    default: 2592000
                    example: 2592000
                    description: 'Maximum reporting interval for `/reports` POST, in seconds'
                  reportsMaxSize:
                    type: integer
                    default: 1024
                    example: 1024
                    description: Maximum size of report for `/reports` POST in kilobytes
          examples:
            application/json:
              deviceId: aBc8deFG9
              mfgId: D0K101
              geoCode: global
              config:
                enableAPI: true
                enableLive: true
                errorRetry: 60
                configRefresh: 3600
                liveDataRetry: 5
                useMinQueries: false
                defLogoURL: 'https://example.cnrd.io/img/abcdefg.png'
                defLogoURLHiRes: 'https://example.cnrd.io/img/abcdefg-hires.png'
                defAlbumURL: 'https://example.cnrd.io/img/abcdefg.png'
                defAlbumURLHiRes: 'https://example.cnrd.io/img/abcdefg-hires.png'
                expireBroadcastIds:
                  - '12345'
                  - '12345'
                  - '12345'
                genreListCacheTTL: 86400
                genreListCacheFlush: false
                broadcastDataCacheTTL: 3600
                broadcastDataCacheFlush: false
                broadcastQueryRefreshRate: 600
                altAPIURL: 'https://new.api.url.com'
                altAPIURLEnabled: false
                altAPIURLPermanent: false
                signalReportInterval: 600
                reportsMinInterval: 86400
                reportsMaxInterval: 2592000
                reportsMaxSize: 1024
        '400':
          description: 'No results found, or missing parameter'
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: missing query parameter
              action: discard
        '401':
          description: Authorization/authentication error
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: authentication error
              action: discard
        '500':
          description: ''
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: Internal error
              action: discard
      operationId: registerDevice
      security:
        - Authorization: []
        - mfgId: []
  /config:
    get:
      tags:
        - Devices
      summary: Request device configuration
      produces:
        - application/json
      description: >-
        Retrieves a device configuration. This occurs at every startup and
        periodically as determined by the `configRefresh` variable.


        The parameters specified in this object will dictate client behavior
        pertaining to API interaction. The values for keys in this object may
        change depending on the geographical location of the client, or when the
        API needs to control certain client interactions due to various internal
        considerations.


        Clients should never hard-code values that are present in a `/config`
        response, they are to be updated whenever a new `/config` response is
        received, which may occur periodically during normal operation.
      parameters:
        - name: mfgId
          in: header
          description: Manufacturer-specific ID supplied by DTS
          required: true
          type: string
          minLength: 2
          maxLength: 32
        - name: Authorization
          in: header
          description: >-
            Authorization header

            The format is `{deviceId},{hash}`, where the `hash` is
            `HMAC_SHA256(mfgSecret, deviceId)`.

            The `hash` is hex digest, truncated to 24 characters.

            Example: `Authorization: asdbh23456sdf,fd9f655862c9bd4da0edb845`
          required: true
          type: string
        - name: lat
          in: query
          type: string
          description: >-
            Latitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. 43.094)
          required: true
        - name: lng
          in: query
          type: string
          description: >-
            Longitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. -71.730)
          required: true
        - name: geoCode
          in: query
          description: >-
            Geocode ID delivered initially by `/devices` and subsequently by
            `/config`
          type: string
          required: true
          maxLength: 32
      responses:
        '200':
          description: Successful response
          schema:
            title: Device config Data Object
            type: object
            properties:
              deviceId:
                type: string
                example: aBc8deFG9
                description: >-
                  This is the `deviceId` assigned to the device by the API. This
                  ID is between 6 and 32 characters in length, and must be
                  stored in non-volatile memory. It is used for authentication
                  and identification for every subsequent API interaction after
                  registration is requested.
              mfgId:
                type: string
                example: D0K101
                description: >-
                  Manufacturer ID. This will normally be the same ID used to
                  request the configuration and authenticate to the API, but if
                  this ID is different in the `/config` response, the client
                  should overwrite the stored `mfgId` in favor of the new ID and
                  use it with the original `mfgSecret` for all subsequent API
                  interaction.
              geoCode:
                type: string
                example: global
                description: >-
                  Geocode for this device. This is used to inform the API about
                  any geographical restrictions that may need to be placed on
                  the device.
              config:
                title: Device config Data Object
                type: object
                properties:
                  enableAPI:
                    type: boolean
                    default: true
                    example: true
                    description: Must be true to use further CONRAD API services
                  enableLive:
                    type: boolean
                    default: true
                    example: true
                    description: >-
                      Must be true to enable use of
                      /broadcasts/{broadcastId}/live path
                  errorRetry:
                    type: integer
                    default: 60
                    example: 60
                    description: >-
                      Time in seconds to wait before a retry API call if 5xx
                      error encountered
                  configRefresh:
                    type: integer
                    default: 3600
                    example: 3600
                    description: Time in seconds to wait before refreshing /config
                  liveDataRetry:
                    type: integer
                    default: 5
                    example: 5
                    description: >-
                      Time in seconds to wait before retrying a call to
                      `/broadcasts/{broadcastId}/live` following the receipt of
                      a `202 Accepted` response. This call is only retried if a
                      `202` is received.
                  useMinQueries:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      Force use of minimal data queries with only lat/lng query
                      type
                  defLogoURL:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg.png'
                    description: Default Logo image URL
                  defLogoURLHiRes:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                    description: Default Logo image URL - High resolution
                  defAlbumURL:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg.png'
                    description: Default Album image URL
                  defAlbumURLHiRes:
                    type: string
                    example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                    description: Default Album image URL - High resolution
                  expireBroadcastIds:
                    type: array
                    items:
                      type: string
                      example: '12345'
                    description: >-
                      Immediately expire cached broadcast data matching these
                      IDs
                  genreListCacheTTL:
                    type: integer
                    default: 86400
                    example: 86400
                    description: Time-to-live for the genre cache in seconds
                  genreListCacheFlush:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      Flush cache of all genre data and query for current genre
                      data
                  broadcastDataCacheTTL:
                    type: integer
                    default: 3600
                    example: 3600
                    description: Time-to-live for the broadcast data cache in seconds
                  broadcastDataCacheFlush:
                    type: boolean
                    default: false
                    example: false
                    description: Flush cache of all broadcast data
                  broadcastQueryRefreshRate:
                    type: integer
                    default: 600
                    example: 600
                    description: Delay in seconds between resending broadcast queries
                  altAPIURL:
                    type: string
                    example: 'https://new.api.url.com'
                    description: >-
                      Alternate URL to access API. This will be a scheme and
                      hostname, e.g. `https://new.api.url.com`

                      All paths will remain the same, including the version
                  altAPIURLEnabled:
                    type: boolean
                    default: false
                    example: false
                    description: >-
                      If true, use alternate URL to access API for the duration
                      of this operating session
                  altAPIURLPermanent:
                    type: boolean
                    default: false
                    example: false
                    description: 'If true, make alternate API URL permanent'
                  signalReportInterval:
                    type: integer
                    default: 600
                    example: 600
                    description: >-
                      Reporting interval for `/reports/signal` signal strength
                      POST, in seconds
                  reportsMinInterval:
                    type: integer
                    default: 86400
                    example: 86400
                    description: 'Minimum reporting interval for `/reports` POST, in seconds'
                  reportsMaxInterval:
                    type: integer
                    default: 2592000
                    example: 2592000
                    description: 'Maximum reporting interval for `/reports` POST, in seconds'
                  reportsMaxSize:
                    type: integer
                    default: 1024
                    example: 1024
                    description: Maximum size of report for `/reports` POST in kilobytes
          examples:
            application/json:
              deviceId: aBc8deFG9
              mfgId: D0K101
              geoCode: global
              config:
                enableAPI: true
                enableLive: true
                errorRetry: 60
                configRefresh: 3600
                liveDataRetry: 5
                useMinQueries: false
                defLogoURL: 'https://example.cnrd.io/img/abcdefg.png'
                defLogoURLHiRes: 'https://example.cnrd.io/img/abcdefg-hires.png'
                defAlbumURL: 'https://example.cnrd.io/img/abcdefg.png'
                defAlbumURLHiRes: 'https://example.cnrd.io/img/abcdefg-hires.png'
                expireBroadcastIds:
                  - '12345'
                  - '12345'
                  - '12345'
                genreListCacheTTL: 86400
                genreListCacheFlush: false
                broadcastDataCacheTTL: 3600
                broadcastDataCacheFlush: false
                broadcastQueryRefreshRate: 600
                altAPIURL: 'https://new.api.url.com'
                altAPIURLEnabled: false
                altAPIURLPermanent: false
                signalReportInterval: 600
                reportsMinInterval: 86400
                reportsMaxInterval: 2592000
                reportsMaxSize: 1024
        '400':
          description: 'No results found, or missing parameter'
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: missing query parameter
              action: discard
        '401':
          description: Authorization/authentication error
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: authentication error
              action: discard
        '500':
          description: ''
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: Internal error
              action: discard
      operationId: getDeviceConfig
      security:
        - Authorization: []
        - mfgId: []
  /broadcasts:
    get:
      tags:
        - Broadcasts
      summary: >-
        Retrieve data for all local broadcast stations via standard HTTP GET
        query.
      operationId: getStationsByQuery
      produces:
        - application/json
      description: >-
        Retrieves a list of `Broadcast` objects from a location query,
        frequencies, GCC/ensemble IDs pairs, or GCC/piCode pairs.


        This is the general query type, designed to be used by most clients with
        access to one or more tuners.


        The majority of the queries to this path will be latitude and longitude
        only, but extended query types for different broadcast technologies are
        supported.


        This method accepts a query with required coordinates and further data
        on stations that are available based on tuner reception. This may
        include purely analog frequencies or DAB GCC and ensemble ID pairs, or
        GCC and PI code pairs. The API will return a list of stations based on
        the data presented in the query. The more descriptive data the client
        can deliver in the query, the more accurate the resulting broadcast list
        will be.


        The minimum query components are lat/lng and deviceId.


        The result is an array of objects, each with a unique identifier, and
        broadcast details related to their broadcast technology. The list may be
        contain broadcast definitions representing multiple different broadcast
        technologies. All results are best-effort, and objects may contain only
        minimal data -- not every pair in the object may be populated or present
        for every object in a response array.
      parameters:
        - name: mfgId
          in: header
          description: Manufacturer-specific ID supplied by DTS
          required: true
          type: string
          minLength: 2
          maxLength: 32
        - name: Authorization
          in: header
          description: >-
            Authorization header

            The format is `{deviceId},{hash}`, where the `hash` is
            `HMAC_SHA256(mfgSecret, deviceId)`.

            The `hash` is hex digest, truncated to 24 characters.

            Example: `Authorization: asdbh23456sdf,fd9f655862c9bd4da0edb845`
          required: true
          type: string
        - name: lat
          in: query
          type: string
          description: >-
            Latitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. 43.094)
          required: true
        - name: lng
          in: query
          type: string
          description: >-
            Longitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. -71.730)
          required: true
        - name: deviceType
          in: query
          description: >-
            Supported receiver technologies bitmask.


            Default value is `0`, which causes results for all supported
            receivers to be returned.  Other accepted values are `1` for analog,
            `2` for hdradio, `4` for dab.  The values may be OR-ed together
            (e.g., `3` for analog and hdradio).
          type: integer
          default: 0
          required: false
        - name: freq
          in: query
          description: 'Array of analog/HD frequencies in kHz (e.g. `1040,89900,101100`)'
          type: array
          items:
            type: integer
          required: false
        - name: rds
          in: query
          description: >-
            Array of strings in the format `gcc.picode.frequency` (e.g.
            `de0.de37.89900`)
          type: array
          items:
            type: string
          required: false
        - name: dab
          in: query
          description: Array of strings in the format `gcc.eid` (e.g. `de0.d285`)
          type: array
          items:
            type: string
          required: false
      responses:
        '200':
          description: Successful response
          schema:
            title: Broadcasts Data Array
            type: object
            properties:
              analog:
                type: array
                items:
                  type: object
                  properties:
                    broadcastId:
                      type: string
                      example: '12345'
                      description: CONRAD API ID for this broadcast
                    ecc:
                      type: string
                      example: E0
                      description: ECC of this broadcast
                    piCode:
                      type: string
                      example: D310
                      description: PI code of this broadcast
                    freq:
                      type: integer
                      example: 103700
                      description: Frequency of this broadcast
                    band:
                      type: string
                      description: Band of this broadcast
                      enum:
                        - AM
                        - FM
                      example: FM
                    country:
                      type: string
                      example: US
                      description: >-
                        [ISO-3166-1
                        alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1)
                        country code for this broadcast
                    broadcastData:
                      type: object
                      properties:
                        name:
                          type: string
                          example: 103.7FM The Rock
                          description: Name of broadcast
                        slogan:
                          type: string
                          example: Yesterday and Today's Rock Hits!
                          description: Slogan of broadcast
                        sortKey:
                          type: string
                          example: abc
                          description: >-
                            Alphanumeric string to use instead of `name` when
                            sorting station alphabetically. This is for special
                            cases when alphanumeric sorting isn't suitable for
                            the broadcast `name`.
                        stationId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different content from the same
                            source. This is the parent of all contentIds
                        contentId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different broadcasts that contain
                            the same content, such as translator stations,
                            regional/national broadcasters
                        languages:
                          type: array
                          description: Array of IETF language codes
                          items:
                            type: string
                            example: en-US
                        callSign:
                          type: string
                          example: WKRP
                          description: 'Call sign of broadcast, if applicable'
                        translator:
                          type: string
                          example: W212AB
                          description: >-
                            If present, this broadcast is a translator, and this
                            string is the callsign of the translator itself,
                            while `callSign` will contain the callsign of the
                            source broadcast.
                        enableThumbs:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableThumbs` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        enableShare:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableShare` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        format:
                          type: string
                          example: music
                          description: 'Format of broadcast, if applicable'
                        description:
                          type: string
                          example: Modern and classic rock music
                          maxLength: 64
                          description: Description of broadcast
                        longDescription:
                          type: string
                          maxLength: 128
                          example: >-
                            Central Pennsylvania's rock source, with Kim and Tom
                            in the morning!
                          description: Long Description of broadcast
                        logoURL:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg.png'
                          description: Logo URL
                        logoURLHiRes:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                          description: 'Logo URL, high resolution'
                        sfOnIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png
                          description: >-
                            URL for small service following active icon image
                            for this broadcast, 64x64
                        sfOffIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png
                          description: >-
                            URL for small service following inactive icon image
                            for this broadcast, 64x64
                        sfOnIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png
                          description: >-
                            URL for wide service following active icon image for
                            this broadcast, 224x64
                        sfOffIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png
                          description: >-
                            URL for wide service following inactive icon image
                            for this broadcast, 224x64
                        mqURI:
                          type: string
                          description: URI for message queue connection
                          example: 'amqp://username:password@amqp.hostname.com/vhost'
                        mqExchange:
                          type: string
                          description: Exchange to use for message queue connection
                          example: live
                        mqKey:
                          type: string
                          description: Routing key to use for message queue connection
                          example: '#.broadcast.12345'
                        genreIds:
                          type: array
                          description: Array of genre IDs for this broadcast
                          items:
                            type: integer
                            example: 123
                        hasLiveData:
                          type: boolean
                          default: true
                          example: true
                          description: >-
                            This broadcast ID has live broadcast data obtainable
                            via the `/broadcasts/{broadcastId}/live` call
                        useLiveUnverified:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Use `/broadcasts/{broadcastId}/live` data if
                            available even if the receiver station verification
                            process fails.
                        email:
                          type: array
                          description: >-
                            Array of email addresses pertaining to this
                            broadcast ID
                          items:
                            type: string
                            example: user@example.cnrd.io
                        urls:
                          type: object
                          description: >-
                            Array of service URLs pertaining to this broadcast
                            ID
                          properties:
                            website:
                              type: array
                              description: >-
                                Array of Web URLs pertaining to this broadcast
                                ID
                              items:
                                type: string
                                example: 'http://www.example.cnrd.io'
                            facebook:
                              type: array
                              description: >-
                                Array of Facebook URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://www.facebook.com/wkrprock'
                            twitter:
                              type: array
                              description: >-
                                Array of Twitter URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://twitter.com/wkrprock'
                        phone:
                          type: array
                          description: >-
                            Array of phone numbers pertaining to this broadcast
                            ID
                          items:
                            type: string
                            example: '12345678901'
                        sms:
                          type: array
                          description: Array of SMS numbers pertaining to this broadcast ID
                          items:
                            type: string
                            example: '123456'
                        streams:
                          type: array
                          description: >-
                            Array of streaming data objects pertaining to this
                            broadcast ID
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                example: 'http://radiostream.url.com/stream'
                                description: >-
                                  URL of stream. Note that some SHOUTCast
                                  streams may require the addition of `/;` at
                                  the end of the URL for certain client types
                                  and user agents. E.g.
                                  `http://radiostream.url.com/stream/;'`
                              format:
                                type: string
                                example: mp3
                                description: Format of stream
                                enum:
                                  - mp3
                                  - hls
                                  - aac
                                  - ogg
                              sampleRate:
                                type: integer
                                description: Sample rate of stream
                                example: 44100
                              bitrate:
                                type: integer
                                description: Stream bitrate in bits
                                example: 64000
                              preroll:
                                type: integer
                                description: >-
                                  Seconds of preroll. 0 indicates no known
                                  preroll
                        ipcPublisherId:
                          type: string
                          description: >-
                            Publisher ID for IPC (IP Content) queries. Used to
                            link broadcasts with IP content produced by the same
                            station or entity. May not exist in the result.
              hdradio:
                type: array
                items:
                  type: object
                  properties:
                    broadcastId:
                      type: string
                      example: '12345'
                      description: CONRAD API ID for this broadcast
                    piCode:
                      type: string
                      example: A123
                      description: PI Code for this broadcast
                    stationId:
                      type: string
                      description: HD SIS station ID for this broadcast
                    countryCode:
                      type: string
                      description: HD SIS Country Code for this broadcast
                    location:
                      type: string
                      description: 'HD SIS location for this broadcast: Latitude, Longitude'
                      example: '43.094, -71.730'
                    channel:
                      type: string
                      example: '1'
                      description: HD multicast channel
                      enum:
                        - '1'
                        - '2'
                        - '3'
                        - '4'
                        - '5'
                        - '6'
                        - '7'
                        - '8'
                    freq:
                      type: integer
                      example: 103700
                      description: Broadcast frequency
                    band:
                      type: string
                      example: FM
                      description: Broadcast band
                      enum:
                        - AM
                        - FM
                    country:
                      type: string
                      example: US
                      description: >-
                        [ISO-3166-1
                        alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1)
                        country code for this broadcast
                    broadcastData:
                      type: object
                      properties:
                        name:
                          type: string
                          example: 103.7FM The Rock
                          description: Name of broadcast
                        slogan:
                          type: string
                          example: Yesterday and Today's Rock Hits!
                          description: Slogan of broadcast
                        sortKey:
                          type: string
                          example: abc
                          description: >-
                            Alphanumeric string to use instead of `name` when
                            sorting station alphabetically. This is for special
                            cases when alphanumeric sorting isn't suitable for
                            the broadcast `name`.
                        stationId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different content from the same
                            source. This is the parent of all contentIds
                        contentId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different broadcasts that contain
                            the same content, such as translator stations,
                            regional/national broadcasters
                        languages:
                          type: array
                          description: Array of IETF language codes
                          items:
                            type: string
                            example: en-US
                        callSign:
                          type: string
                          example: WKRP
                          description: 'Call sign of broadcast, if applicable'
                        translator:
                          type: string
                          example: W212AB
                          description: >-
                            If present, this broadcast is a translator, and this
                            string is the callsign of the translator itself,
                            while `callSign` will contain the callsign of the
                            source broadcast.
                        enableThumbs:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableThumbs` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        enableShare:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableShare` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        format:
                          type: string
                          example: music
                          description: 'Format of broadcast, if applicable'
                        description:
                          type: string
                          example: Modern and classic rock music
                          maxLength: 64
                          description: Description of broadcast
                        longDescription:
                          type: string
                          maxLength: 128
                          example: >-
                            Central Pennsylvania's rock source, with Kim and Tom
                            in the morning!
                          description: Long Description of broadcast
                        logoURL:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg.png'
                          description: Logo URL
                        logoURLHiRes:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                          description: 'Logo URL, high resolution'
                        sfOnIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png
                          description: >-
                            URL for small service following active icon image
                            for this broadcast, 64x64
                        sfOffIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png
                          description: >-
                            URL for small service following inactive icon image
                            for this broadcast, 64x64
                        sfOnIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png
                          description: >-
                            URL for wide service following active icon image for
                            this broadcast, 224x64
                        sfOffIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png
                          description: >-
                            URL for wide service following inactive icon image
                            for this broadcast, 224x64
                        mqURI:
                          type: string
                          description: URI for message queue connection
                          example: 'amqp://username:password@amqp.hostname.com/vhost'
                        mqExchange:
                          type: string
                          description: Exchange to use for message queue connection
                          example: live
                        mqKey:
                          type: string
                          description: Routing key to use for message queue connection
                          example: '#.broadcast.12345'
                        genreIds:
                          type: array
                          description: Array of genre IDs for this broadcast
                          items:
                            type: integer
                            example: 123
                        hasLiveData:
                          type: boolean
                          default: true
                          example: true
                          description: >-
                            This broadcast ID has live broadcast data obtainable
                            via the `/broadcasts/{broadcastId}/live` call
                        useLiveUnverified:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Use `/broadcasts/{broadcastId}/live` data if
                            available even if the receiver station verification
                            process fails.
                        email:
                          type: array
                          description: >-
                            Array of email addresses pertaining to this
                            broadcast ID
                          items:
                            type: string
                            example: user@example.cnrd.io
                        urls:
                          type: object
                          description: >-
                            Array of service URLs pertaining to this broadcast
                            ID
                          properties:
                            website:
                              type: array
                              description: >-
                                Array of Web URLs pertaining to this broadcast
                                ID
                              items:
                                type: string
                                example: 'http://www.example.cnrd.io'
                            facebook:
                              type: array
                              description: >-
                                Array of Facebook URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://www.facebook.com/wkrprock'
                            twitter:
                              type: array
                              description: >-
                                Array of Twitter URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://twitter.com/wkrprock'
                        phone:
                          type: array
                          description: >-
                            Array of phone numbers pertaining to this broadcast
                            ID
                          items:
                            type: string
                            example: '12345678901'
                        sms:
                          type: array
                          description: Array of SMS numbers pertaining to this broadcast ID
                          items:
                            type: string
                            example: '123456'
                        streams:
                          type: array
                          description: >-
                            Array of streaming data objects pertaining to this
                            broadcast ID
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                example: 'http://radiostream.url.com/stream'
                                description: >-
                                  URL of stream. Note that some SHOUTCast
                                  streams may require the addition of `/;` at
                                  the end of the URL for certain client types
                                  and user agents. E.g.
                                  `http://radiostream.url.com/stream/;'`
                              format:
                                type: string
                                description: Format of stream
                                enum:
                                  - mp3
                                  - hls
                                  - aac
                                  - ogg
                              sampleRate:
                                type: integer
                                description: Sample rate of stream
                                example: 44100
                              bitrate:
                                type: integer
                                description: Stream bitrate in bits
                                example: 64000
                              preroll:
                                type: integer
                                description: >-
                                  Seconds of preroll. 0 indicates no known
                                  preroll
                        ipcPublisherId:
                          type: string
                          description: >-
                            Publisher ID for IPC (IP Content) queries. Used to
                            link broadcasts with IP content produced by the same
                            station or entity. May not exist in the result.
              dab:
                type: array
                items:
                  type: object
                  properties:
                    broadcastId:
                      type: string
                      example: '12345'
                      description: CONRAD API ID for this broadcast
                    eid:
                      type: string
                      example: C186
                      description: DAB ensemble ID for this broadcast
                    freq:
                      type: integer
                      example: 223936
                      description: Ensemble broadcast frequency for this broadcast
                    sid:
                      type: string
                      example: C1C2
                      description: Service ID for this broadcast
                    scids:
                      type: string
                      description: >-
                        Service Component Identifier within Service for this
                        broadcast
                      example: '0'
                    channel:
                      type: string
                      example: 12A
                      description: Service channel for this broadcast
                    country:
                      type: string
                      example: US
                      description: >-
                        [ISO-3166-1
                        alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1)
                        country code for this broadcast
                    broadcastData:
                      type: object
                      properties:
                        name:
                          type: string
                          example: 103.7FM The Rock
                          description: Name of broadcast
                        slogan:
                          type: string
                          example: Yesterday and Today's Rock Hits!
                          description: Slogan of broadcast
                        sortKey:
                          type: string
                          example: abc
                          description: >-
                            Alphanumeric string to use instead of `name` when
                            sorting station alphabetically. This is for special
                            cases when alphanumeric sorting isn't suitable for
                            the broadcast `name`.
                        stationId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different content from the same
                            source. This is the parent of all contentIds
                        contentId:
                          type: string
                          example: '12345'
                          description: >-
                            An ID used to link different broadcasts that contain
                            the same content, such as translator stations,
                            regional/national broadcasters
                        languages:
                          type: array
                          description: Array of IETF language codes
                          items:
                            type: string
                            example: en-US
                        callSign:
                          type: string
                          example: WKRP
                          description: 'Call sign of broadcast, if applicable'
                        translator:
                          type: string
                          example: W212AB
                          description: >-
                            If present, this broadcast is a translator, and this
                            string is the callsign of the translator itself,
                            while `callSign` will contain the callsign of the
                            source broadcast.
                        enableThumbs:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableThumbs` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        enableShare:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Default value of `enableShare` in a
                            `/broadcasts/{broadcastId}/live` response for this
                            broadcast if not explicitly specified in that
                            response. The default is true.
                        format:
                          type: string
                          example: music
                          description: 'Format of broadcast, if applicable'
                        description:
                          type: string
                          example: Modern and classic rock music
                          maxLength: 64
                          description: Description of broadcast
                        longDescription:
                          type: string
                          maxLength: 128
                          example: >-
                            Central Pennsylvania's rock source, with Kim and Tom
                            in the morning!
                          description: Long Description of broadcast
                        logoURL:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg.png'
                          description: Logo URL
                        logoURLHiRes:
                          type: string
                          example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                          description: 'Logo URL, high resolution'
                        sfOnIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png
                          description: >-
                            URL for small service following active icon image
                            for this broadcast, 64x64
                        sfOffIconURL:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png
                          description: >-
                            URL for small service following inactive icon image
                            for this broadcast, 64x64
                        sfOnIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png
                          description: >-
                            URL for wide service following active icon image for
                            this broadcast, 224x64
                        sfOffIconURLWide:
                          type: string
                          example: >-
                            https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png
                          description: >-
                            URL for wide service following inactive icon image
                            for this broadcast, 224x64
                        mqURI:
                          type: string
                          description: URI for message queue connection
                          example: 'amqp://username:password@amqp.hostname.com/vhost'
                        mqExchange:
                          type: string
                          description: Exchange to use for message queue connection
                          example: live
                        mqKey:
                          type: string
                          description: Routing key to use for message queue connection
                          example: '#.broadcast.12345'
                        genreIds:
                          type: array
                          description: Array of genre IDs for this broadcast
                          items:
                            type: integer
                            example: 123
                        hasLiveData:
                          type: boolean
                          default: true
                          example: true
                          description: >-
                            This broadcast ID has live broadcast data obtainable
                            via the `/broadcasts/{broadcastId}/live` call
                        useLiveUnverified:
                          type: boolean
                          example: true
                          default: true
                          description: >-
                            Use `/broadcasts/{broadcastId}/live` data if
                            available even if the receiver station verification
                            process fails.
                        email:
                          type: array
                          description: >-
                            Array of email addresses pertaining to this
                            broadcast ID
                          items:
                            type: string
                            example: user@example.cnrd.io
                        urls:
                          type: object
                          description: >-
                            Array of service URLs pertaining to this broadcast
                            ID
                          properties:
                            website:
                              type: array
                              description: >-
                                Array of Web URLs pertaining to this broadcast
                                ID
                              items:
                                type: string
                                example: 'http://www.example.cnrd.io'
                            facebook:
                              type: array
                              description: >-
                                Array of Facebook URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://www.facebook.com/wkrprock'
                            twitter:
                              type: array
                              description: >-
                                Array of Twitter URLs pertaining to this
                                broadcast ID
                              items:
                                type: string
                                example: 'https://twitter.com/wkrprock'
                        phone:
                          type: array
                          description: >-
                            Array of phone numbers pertaining to this broadcast
                            ID
                          items:
                            type: string
                            example: '12345678901'
                        sms:
                          type: array
                          description: Array of SMS numbers pertaining to this broadcast ID
                          items:
                            type: string
                            example: '123456'
                        streams:
                          type: array
                          description: >-
                            Array of streaming data objects pertaining to this
                            broadcast ID
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                example: 'http://radiostream.url.com/stream'
                                description: >-
                                  URL of stream. Note that some SHOUTCast
                                  streams may require the addition of `/;` at
                                  the end of the URL for certain client types
                                  and user agents. E.g.
                                  `http://radiostream.url.com/stream/;'`
                              format:
                                type: string
                                example: mp3
                                description: Format of stream
                                enum:
                                  - mp3
                                  - hls
                                  - aac
                                  - ogg
                              sampleRate:
                                type: integer
                                description: Sample rate of stream
                                example: 44100
                              bitrate:
                                type: integer
                                description: Stream bitrate in bits
                                example: 64000
                              preroll:
                                type: integer
                                description: >-
                                  Seconds of preroll. 0 indicates no known
                                  preroll
                        ipcPublisherId:
                          type: string
                          description: >-
                            Publisher ID for IPC (IP Content) queries. Used to
                            link broadcasts with IP content produced by the same
                            station or entity. May not exist in the result.
          examples:
            application/json:
              analog:
                - broadcastId: '12345'
                  ecc: E0
                  piCode: D310
                  freq: 103700
                  band: FM
                  country: US
                  broadcastData:
                    name: 103.7FM The Rock
                    slogan: Yesterday and Today's Rock Hits!
                    sortKey: abc
                    stationId: '12345'
                    contentId: '12345'
                    languages:
                      - en-US
                      - en-US
                      - en-US
                    callSign: WKRP
                    translator: W212AB
                    enableThumbs: true
                    enableShare: true
                    format: music
                    description: Modern and classic rock music
                    longDescription: >-
                      Central Pennsylvania's rock source, with Kim and Tom in
                      the morning!
                    logoURL: 'https://example.cnrd.io/img/abcdefg.png'
                    logoURLHiRes: 'https://example.cnrd.io/img/abcdefg-hires.png'
                    sfOnIconURL: >-
                      https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png
                    sfOffIconURL: >-
                      https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png
                    sfOnIconURLWide: >-
                      https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png
                    sfOffIconURLWide: >-
                      https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png
                    mqURI: 'amqp://username:password@amqp.hostname.com/vhost'
                    mqExchange: live
                    mqKey: '#.broadcast.12345'
                    genreIds:
                      - 123
                      - 123
                      - 123
                    hasLiveData: true
                    useLiveUnverified: true
                    email:
                      - user@example.cnrd.io
                      - user@example.cnrd.io
                      - user@example.cnrd.io
                    urls:
                      website:
                        - 'http://www.example.cnrd.io'
                        - 'http://www.example.cnrd.io'
                        - 'http://www.example.cnrd.io'
                      facebook:
                        - 'https://www.facebook.com/wkrprock'
                        - 'https://www.facebook.com/wkrprock'
                        - 'https://www.facebook.com/wkrprock'
                      twitter:
                        - 'https://twitter.com/wkrprock'
                        - 'https://twitter.com/wkrprock'
                        - 'https://twitter.com/wkrprock'
                    phone:
                      - '12345678901'
                      - '12345678901'
                      - '12345678901'
                    sms:
                      - '123456'
                      - '123456'
                      - '123456'
                    streams:
                      - url: 'http://radiostream.url.com/stream'
                        format: mp3
                        sampleRate: 44100
                        bitrate: 64000
                        preroll: 42
              hdradio:
                - broadcastId: '12345'
                  piCode: A123
                  stationId: foo
                  countryCode: foo
                  location: '43.094, -71.730'
                  channel: '1'
                  freq: 103700
                  band: FM
                  country: US
                  broadcastData: null
              dab:
                - broadcastId: '12345'
                  eid: C186
                  freq: 223
                  sid: C1C2
                  scids: '0'
                  channel: 12A
                  country: US
                  broadcastData: null
        '400':
          description: 'No results found, or missing parameter'
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: missing query parameter
              action: discard
        '401':
          description: Authorization/authentication error
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: authentication error
              action: discard
        '500':
          description: ''
          schema:
            title: Error
            type: object
            properties:
              result:
                type: string
                enum:
                  - error
              data:
                type: string
              action:
                type: string
                example: discard
                enum:
                  - discard
          examples:
            application/json:
              result: error
              data: Internal error
              action: discard
      security:
        - Authorization: []
        - mfgId: []
  '/broadcasts/{broadcastId}':
    get:
      tags:
        - Broadcasts
      summary: Retrieve data pertaining to a single broadcast by ID.
      operationId: getBroadcastByID
      produces:
        - application/json
      description: Retrieves an individual `Broadcast` object given a broadcast ID.
      parameters:
        - name: mfgId
          in: header
          description: Manufacturer-specific ID supplied by DTS
          required: true
          type: string
          minLength: 2
          maxLength: 32
        - name: Authorization
          in: header
          description: >-
            Authorization header

            The format is `{deviceId},{hash}`, where the `hash` is
            `HMAC_SHA256(mfgSecret, deviceId)`.

            The `hash` is hex digest, truncated to 24 characters.

            Example: `Authorization: asdbh23456sdf,fd9f655862c9bd4da0edb845`
          required: true
          type: string
        - name: broadcastId
          in: path
          description: Requested broadcast ID
          type: string
          required: true
        - name: lat
          in: query
          type: string
          description: >-
            Latitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. 43.094)
          required: false
        - name: lng
          in: query
          type: string
          description: >-
            Longitude in [decimal
            degrees](https://en.wikipedia.org/wiki/Decimal_degrees) rounded to
            three decimal places (e.g. -71.730)
          required: false
      responses:
        '200':
          description: Successful response
          schema:
            title: Broadcast Data Object
            type: object
            properties:
              analog:
                type: object
                properties:
                  broadcastId:
                    type: string
                    example: '12345'
                    description: CONRAD API ID for this broadcast
                  ecc:
                    type: string
                    example: E0
                    description: ECC of this broadcast
                  piCode:
                    type: string
                    example: D310
                    description: PI code of this broadcast
                  freq:
                    type: integer
                    example: 103700
                    description: Frequency of this broadcast
                  band:
                    type: string
                    description: Band of this broadcast
                    enum:
                      - AM
                      - FM
                    example: FM
                  country:
                    type: string
                    example: US
                    description: >-
                      [ISO-3166-1
                      alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country
                      code for this broadcast
                  broadcastData:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 103.7FM The Rock
                        description: Name of broadcast
                      slogan:
                        type: string
                        example: Yesterday and Today's Rock Hits!
                        description: Slogan of broadcast
                      sortKey:
                        type: string
                        example: abc
                        description: >-
                          Alphanumeric string to use instead of `name` when
                          sorting station alphabetically. This is for special
                          cases when alphanumeric sorting isn't suitable for the
                          broadcast `name`.
                      stationId:
                        type: string
                        example: '12345'
                        description: >-
                          An ID used to link different content from the same
                          source. This is the parent of all contentIds
                      contentId:
                        type: string
                        example: '12345'
                        description: >-
                          An ID used to link different broadcasts that contain
                          the same content, such as translator stations,
                          regional/national broadcasters
                      languages:
                        type: array
                        description: Array of IETF language codes
                        items:
                          type: string
                          example: en-US
                      callSign:
                        type: string
                        example: WKRP
                        description: 'Call sign of broadcast, if applicable'
                      translator:
                        type: string
                        example: W212AB
                        description: >-
                          If present, this broadcast is a translator, and this
                          string is the callsign of the translator itself, while
                          `callSign` will contain the callsign of the source
                          broadcast.
                      enableThumbs:
                        type: boolean
                        example: true
                        default: true
                        description: >-
                          Default value of `enableThumbs` in a
                          `/broadcasts/{broadcastId}/live` response for this
                          broadcast if not explicitly specified in that
                          response. The default is true.
                      enableShare:
                        type: boolean
                        example: true
                        default: true
                        description: >-
                          Default value of `enableShare` in a
                          `/broadcasts/{broadcastId}/live` response for this
                          broadcast if not explicitly specified in that
                          response. The default is true.
                      format:
                        type: string
                        example: music
                        description: 'Format of broadcast, if applicable'
                      description:
                        type: string
                        example: Modern and classic rock music
                        maxLength: 64
                        description: Description of broadcast
                      longDescription:
                        type: string
                        maxLength: 128
                        example: >-
                          Central Pennsylvania's rock source, with Kim and Tom
                          in the morning!
                        description: Long Description of broadcast
                      logoURL:
                        type: string
                        example: 'https://example.cnrd.io/img/abcdefg.png'
                        description: Logo URL
                      logoURLHiRes:
                        type: string
                        example: 'https://example.cnrd.io/img/abcdefg-hires.png'
                        description: 'Logo URL, high resolution'
                      sfOnIconURL:
                        type: string
                        example: >-
                          https://example.cnrd.io/img/2/2/2210d149ef776682bc583a919046aacb.png
                        description: >-
                          URL for small service following active icon image for
                          this broadcast, 64x64
                      sfOffIconURL:
                        type: string
                        example: >-
                          https://example.cnrd.io/img/a/3/a30183ea6cf6e345691dda5c94a97e5e.png
                        description: >-
                          URL for small service following inactive icon image
                          for this broadcast, 64x64
                      sfOnIconURLWide:
                        type: string
                        example: >-
                          https://example.cnrd.io/img/e/8/e83993f9ecde475ced101978b0e4602d.png
                        description: >-
                          URL for wide service following active icon image for
                          this broadcast, 224x64
                      sfOffIconURLWide:
                        type: string
                        example: >-
                          https://example.cnrd.io/img/9/5/950d73b2d78c51ac794c2346d816b2e3.png
                        description: >-
                          URL for wide service following inactive icon image for
                          this broadcast, 224x64
                      mqURI:
                        type: string
                        description: URI for message queue connection
                        example: 'amqp://username:password@amqp.hostname.com/vhost'
                      mqExchange:
                        type: string
                        description: Exchange to use for message queue connection
                        example: live
                      mqKey:
                        type: string
                        description: Routing key to use for message queue connection
                        example: '#.broadcast.12345'
                      genreIds:
                        type: array
                        description: Array of genre IDs for this broadcast
                        items:
                          type: integer
                          example: 123
                      hasLiveData:
                        type: boolean
                        default: true
                        example: true
                        description: >-
                          This broadcast ID has live broadcast data obtainable
                          via the `/broadcasts/{broadcastId}/live` call
                      useLiveUnverified:
                        type: boolean
                        example: true
                        default: true
                        description: >-
                          Use `/broadcasts/{broadcastId}/live` data if available
                          even if the receiver station verification process
                          fails.
                      email:
                        type: array
                        description: >-
                          Array of email addresses pertaining to this broadcast
                          ID
                        items:
                          type: string
                          example: user@example.cnrd.io
                      urls:
                        type: object
                        description: Array of service URLs pertaining to this broadcast ID
                        properties:
                          website:
                            type: array
                            description: Array of Web URLs pertaining to this broadcast ID
                            items:
                              type: string
                              example: 'http://www.example.cnrd.io'
                          facebook:
                            type: array
                            description: >-
                              Array of Facebook URLs pertaining to this
                              broadcast ID
                            items:
                              type: string
                              example: 'https://www.facebook.com/wkrprock'
                          twitter:
                            type: array
                            description: >-
                              Array of Twitter URLs pertaining to this broadcast
                              ID
                            items:
                              type: string
                              example: 'https://twitter.com/wkrprock'
                      phone:
                        type: array
                        description: Array of phone numbers pertaining to this broadcast ID
                        items:
                          type: string
                          example: '12345678901'
                      sms:
                        type: array
                        description: Array of SMS numbers pertaining to this broadcast ID
                        items:
                          type: string
                          example: '123456'
                      streams:
                        type: array
                        description: >-
                          Array of streaming data objects pertaining to this
                          broadcast ID
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: 'http://radiostream.url.com/stream'
                              description: >-
                                URL of stream. Note that some SHOUTCast streams
                                may require the addition of `/;` at the end of
                                the URL for certain client types and user
                                agents. E.g.
                                `http://radiostream.url.com/stream/;'`
                            format:
                              type: string
                              example: mp3
                              description: Format of stream
                              enum:
                                - mp3
                                - hls
                                - aac
                                - ogg
                            sampleRate:
                              type: integer
                              description: Sample rate of stream
                              example: 44100
                            bitrate:
                              type: integer
                              description: Stream bitrate in bits
                              example: 64000
                            preroll:
                              type: integer
                              description: Seconds of preroll. 0 indicates no known preroll
                      ipcPublisherId:
                        type: string
                        description: >-
                          Publisher ID for IPC (IP Content) queries. Used to
                          link broadcasts with IP content produced by the same
                          station or entity. May not exist in the result.
              hdradio:
                type: object
                properties:
                  broadcastId:
                    type: string
                    example: '12345'
                    description: CONRAD API ID for this broadcast
                  piCode:
                    type: string
                    example: A123
                    description: PI Code for this broadcast
                  stationId:
                    type: string
                    description: HD SIS station ID for this broadcast
                  countryCode:
                    type: string
                    description: HD SIS Country Code for this broadcast
                  location:
                    type: string
                    description: 'HD SIS location for this broadcast: Latitude, Longitude'
                    example: '43.094, -71.730'
                  channel:
                    type: string
                    example: '1'
                    description: HD multicast channel
                    enum:
                      - '1'
                      - '2'
                      - '3'
                      - '4'
                      - '5'
                      - '6'
                      - '7'
                      - '8'
                  freq:
                    type: integer
                    example: 103700
                    description: Broadcast frequency
                  band:
                    type: string
                    example: FM
                    description: Broadcast band
                    enum:
                      - AM
                      - FM
                  country:
                    type: string
                    example: US
                    description: >-
                      [ISO-3166-1
                      alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country
                      code for this broadcast
                  broadcastData:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 103.7FM The Rock
                        description: Name of broadcast
                      slogan:
                        type: string
                        example: Yesterday and Today's Rock Hits!
                        description: Slogan of broadcast
                      sortKey:
                        type: string
                        example: abc
                        description: >-
[...]
